.box {
  border: 2px solid red;
  width: 500px;
}

.item-img {
  width: 400px;
}

.match {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btns {
  display: flex;
  justify-content: center;
}

.game-result {
  display: flex;
  justify-content: center;
}

.main {}